.meta_nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

.nav {
    display: flex;
    align-items: center;
    background-color: var(--theme-color);
    gap: 1em;
    padding: 0.5em var(--global-h-offset);
}

.menu {
    font-size: 1.8em;
    font-weight: 100;
    opacity: .6;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 500;
    font-size: 1.1em;
}

.nav_logo img {
    height: 36px;
}

.nav_links_container {
    padding: 1em var(--global-h-offset);
    background-color: var(--theme-color);
    width: 70%;
    height: 100vh;
    animation: slide 0.6s;
}

.nav_links li {
    padding: 0.8em 0em;
    font-weight: 300;
}

.nav_links li:hover {
    background-color: var(--dark-color-1);
    color: white;
    padding-left: 1em;
}

.nav_link a {
    display: flex;
    align-items: center;
}

.nav_link .nav_link_icon {
    margin-right: 16px;
    opacity: 0.7;
}


@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


