/* display section */
.display_container {
    background: linear-gradient(var(--theme-color), white);
    padding: 0 var(--global-h-offset);
    padding-top: 2em;
}

.h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.adopt_donate_container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.adopt_donate_container button {
    font-size: 1.4em;
    padding: 0.2em 1.2em;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid black;
    margin-bottom: 2em;
}

.button_donate {
    background-color: black !important;
    color: var(--theme-color);
}

.display_img {
    width: 80vw;
    margin: 0 auto;
    display: block;
}

/* who are we section*/
.who_are_we_container {
    text-align: center;
    padding: 2em var(--global-h-offset);
    background-color: var(--accent-color-1);
}

.who_are_we_container h2 {
    margin-bottom: 0.4em;
}

.who_are_we_container p {
    text-align: justify;
    font-weight: 300;
}

/* our history, impact, values*/
.hist_imp_val_container {
    padding: 0 var(--global-h-offset);
    padding-top: 3em;
    text-align: center;
    background: linear-gradient(white);
}

.hist_imp_val_list_container {
    padding-bottom: 3em;
}

.hist_imp_val_list_container .icon {
    font-size: 3em;
}

.hist_imp_val_list_container p {
    font-weight: 300;
}

/* dog cat adopt */
.adopt_dog_cat_wrapper {
    padding: 0 var(--global-h-offset);
    position: relative;
    background: var(--theme-color);
}

.adopt_dog_cat_title {
    text-align: center;
    padding: 0 var(--global-h-offset);
    padding-top: 1.5em;
}

.dog_cat_img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.dog_cat_button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4em 1em;
    border-radius: 8px;
}

.dog_button {
    position: absolute;
    top: 40%;
}

.cat_button {
    position: absolute;
    right: var(--global-h-offset);
    top: 50%
}

