.wrapper {
    background-color: var(--dark-color-1);
    padding: 1rem;
    position: relative;
}

.wrapper, .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}


.carousel {
    display: flex;
    gap: 1rem;
}

.back_icon, .forward_icon {
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    position: absolute;
    opacity: 0.8;
    top: 50%;
    transform: translateY(-50%);
}

.back_icon {
    left: 0px;
    margin-left: 8px;
}

.forward_icon {
    right: 0px;
    margin-right: 8px;
}

.disable {
    pointer-events:none;
}

.dragging {
    cursor: grab;
    scroll-behavior: auto;
}


.carousel {
    scroll-behavior: smooth;
}
